.table{
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    .text{
        color: rgb(0, 0, 0);
    }
    #bodyT{
        
        tr{
            display: flex;
            flex-direction: column;
            background: rgb(252, 252, 252);
            margin: 5px;
            border-radius: 5px;

            .thTitle{
                color: rgb(0, 0, 0);
                margin: 2px;
                font-size: 1rem;
            }
            .thText{
                color: rgb(25, 27, 19);
                margin: 2px;
                font-size: 0.8rem;
            }
            .thCant{
                color: black;
                font-size: 0.7rem;
            }
            .thPrecio{
                color: rgb(0, 0, 0);
                font-size: 0.8rem;
            }
            .thBtn{
                margin: 5px;
                .btn{
                    padding: 0.2rem;
                    border-radius: 5px;
                    background: white(243, 243, 159, 0.829);
                    

                }
            }
        }
    }
}